.status-Open{
	color:green;
}

.status-In.Progress{
	color: orange;
}

.status-Done{
	color: gray;
}

.comment-form .form-type-checkbox, .comment-form .form-radios {
	margin-left: 0px;
	padding-top: 10px;
}
.comment-form .form-type-checkbox label{;
	font-weight: bold;
}


